<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MaterielDashboarsServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.MaterielDashboarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createMateriel</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.createMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditerMateriel</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.EditerMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMateriel</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.DeleteMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdherentDashboard</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.AdherentDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaterielDashboarsServlet</servlet-name>
        <url-pattern>/Materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createMateriel</servlet-name>
        <url-pattern>/Ajouter-Materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditerMateriel</servlet-name>
        <url-pattern>/Editer-Materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMateriel</servlet-name>
        <url-pattern>/Delete-Materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdherentDashboard</servlet-name>
        <url-pattern>/Adherents</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
