<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MaterielDashboarsServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.MaterielDashboarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createMateriel</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.createMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditerMateriel</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.EditerMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMateriel</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.DeleteMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdherentDashboard</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.AdherentDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterAdherentServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.createAdherentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditerAdherentServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.EditerAdherentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdherentServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.DeleteAdherentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EngagementDashboardServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.EngagementDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createEngagementServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.createEngagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditerEngagementServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.EditerEngagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEngagementServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.DeleteEngagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActMatAdhDashboard</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.ActMatAdhDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditerActMatEngServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.EditerActMatEngServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterActMatAdh</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.AjouterActMatAdhServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editerActMatAdh</servlet-name>
        <servlet-class>editerActMatAdh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteActMatAdhServlet</servlet-name>
        <servlet-class>com.vastra.stage.Servlet.DeleteActMatAdhServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaterielDashboarsServlet</servlet-name>
        <url-pattern>/Materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createMateriel</servlet-name>
        <url-pattern>/Ajouter-Materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditerMateriel</servlet-name>
        <url-pattern>/Editer-Materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMateriel</servlet-name>
        <url-pattern>/Delete-Materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdherentDashboard</servlet-name>
        <url-pattern>/Adherents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterAdherentServlet</servlet-name>
        <url-pattern>/Ajouter-Adherent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditerAdherentServlet</servlet-name>
        <url-pattern>/Editer-Adherent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdherentServlet</servlet-name>
        <url-pattern>/Delete-Adherent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EngagementDashboardServlet</servlet-name>
        <url-pattern>/Engagements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createEngagementServlet</servlet-name>
        <url-pattern>/Ajouter-Engagment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditerEngagementServlet</servlet-name>
        <url-pattern>/Editer-Engagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEngagementServlet</servlet-name>
        <url-pattern>/Delete-Engagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActMatAdhDashboard</servlet-name>
        <url-pattern>/Activite-Materiel-Adherent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditerActMatEngServlet</servlet-name>
        <url-pattern>/Editer-Activite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterActMatAdh</servlet-name>
        <url-pattern>/Ajouter-Activite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editerActMatAdh</servlet-name>
        <url-pattern>/editerActMatAdh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteActMatAdhServlet</servlet-name>
        <url-pattern>/Delete-Activite</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
